/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(22, 72%, 50%);
  --first-color-alt: hsl(22, 72%, 46%);
  --white-color: #fff;
  --text-color: hsl(22, 4%, 75%);
  --text-color-light: hsl(22, 4%, 55%);

  --body-color: #111827;
  --violet: #d946ef;
  --blue: #2563eb;
  --container-color: hsl(22, 8%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Anonymous Pro', monospace;

  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

/* section {
  width: 400px;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 400px; */
  /* margin-inline: 0.5rem; */
  padding-left: 20px;
  padding-right: 20px;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%; /* Занимает всю ширину */
  max-width: 1244px;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: inline-flex;
  color: var(--white-color);
}
.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  transition: color 0.3s;
}
.nav__logo img {
  width: 20px;
}
.nav__logo:hover {
  color: var(--violet);
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.header-btn {
  display: flex;
  width: 80px;
  padding: 6px 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--gardient, linear-gradient(91deg, #2563eb 0%, #d946ef 100%));
  color: #f9fafb;
  font-family: var(--body-font);
  letter-spacing: 0.6px;
  font-size: 10px;
  border: none;
}
.header-btn:hover {
  background: var(--gardient, linear-gradient(91deg, #d946ef 0%, #2563eb 100%));
  transition: all 0.8s ease;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 4px 8px hsla(22, 10%, 2%, 0.5);
    padding-block: 3.5rem 3rem;
    border-radius: 0 0 2rem 2rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
}
.nav__link:hover {
  color: var(--blue);
  transition: all 0.3s ease-out;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__img {
  width: 180px;
  position: absolute;
  top: 40%;
  left: -3rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(22, 10%, 2%, 0.4);
}

/* Active link */
.active-link {
  color: var(--blue);
}

main {
  width: 100%;
  margin: 0 auto;
}

/*=============== HOME ===============*/

.elipse {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 340px;
  height: 283.982px;
  flex-shrink: 0;
  border-radius: 340px;
  background: #5141da;
  filter: blur(120px);
}
.home {
  display: flex;
  margin-top: 50px;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  margin-top: 50px;
}

.left-home-container,
.right-home-container {
  flex: 1;

  display: flex;
}

.left-home-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.left-home-container h1 {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
  font-family: 'Anonymous Pro', monospace;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 144.828% */
  letter-spacing: 1.16px;
  background: var(--gd, linear-gradient(88deg, #2563eb 0%, #d946ef 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-home-container p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-btns {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.home-btn {
  display: flex;
  width: 80px;
  padding: 6px 12px;

  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--gardient, linear-gradient(0deg, #2563eb 0%, #d946ef 100%));
  color: #f9fafb;
  font-family: 'Anonymous Pro', monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.watch-video-btn {
  border-radius: 5px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #f9fafb;
  font-family: var(--body-font);
  letter-spacing: 0.6px;
  font-size: 10px;
  border: none;
  gap: 5px;
  -webkit-box-shadow: 0px 0px 5px 0.5px #b5c8ff;
  box-shadow: 0px 0px 5px 0.5px #b5c8ff;
}
.watch-video-btn:hover {
  box-shadow: 0px 0px 10px 0.5px #b5c8ff;
  transition: all 0.8s ease-out;
}
.watch-video-btn i {
  font-size: 20px;
}
.animated-shadow {
  border-radius: 5px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #f9fafb;
  font-family: var(--body-font);
  letter-spacing: 0.6px;
  font-size: 10px;
  border: none;
  gap: 5px;
  box-shadow: 0px 0px 5px 0.5px #b5c8ff;
  animation: shadowAnimation 1s infinite alternate;
}
@keyframes shadowAnimation {
  0% {
    box-shadow: 0px 0px 5px 0.5px #b5c8ff;
  }
  100% {
    box-shadow: 0px 0px 10px 0.5px #b5c8ff;
  }
}

/*=============== OUR SERVISE ===============*/

.elipse-serv {
  position: absolute;
  width: 340px;
  height: 283.982px;
  flex-shrink: 0;
  border-radius: 340px;
  background: #5141da;
  filter: blur(125px);
}
.elipse-serv-1 {
  top: 30px;
  right: 0px;
  display: none;
}
.elipse-serv-2 {
  top: 30px;
  left: 0px;
}
.elipse-serv-3 {
  top: 600px;
  display: none;
}
.elipse-serv-4 {
  right: 50px;
  top: 500px;
}
.servise {
  padding-top: 70px;
  position: relative;
}
.servive-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servive-title h2 {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.servive-title p {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.slider1 {
  margin-bottom: 35px;
  position: relative;
}
.slider2 {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--violet) !important;
}
.swiper-button-prev {
  left: -10px !important;
}
.swiper-button-next {
  right: -10px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 34px;
  background: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );

  /* Shadow  */
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  width: 370px;
  height: 336px;
  flex-shrink: 0;
}

.card-background h5 {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
}
.card-background p {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: center;
  margin-bottom: 20px;
}

.servisec-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 55px;
}

.icon-bg1 {
  background: var(--2, linear-gradient(180deg, #a47fd9 0%, #543292 100%));
}
.icon-bg2 {
  background: var(--2, linear-gradient(180deg, #d97f95 0%, #923250 100%));
}
.icon-bg3 {
  background: var(--3, linear-gradient(180deg, #84d8ed 0%, #4292bb 100%));
}
.icon-bg4 {
  background: var(--3, linear-gradient(180deg, #a0cbb1 0%, #42bb72 100%));
}
.icon-bg5 {
  background: var(--5, linear-gradient(180deg, #bc7fd9 0%, #923283 100%));
}
.icon-bg6 {
  background: var(--4, linear-gradient(180deg, #8684ed 0%, #4247bb 100%));
}

/*=============== INFORMATION ===============*/

.information {
  margin-top: 50px;
  position: relative;
}
.elipse-inf1 {
  top: 350px;
  left: 0px;
}
.elipse-inf2 {
  top: 1100px;
  right: 0px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
/* .inf-item {
  flex: 1;
  width: 50%;
} */
.inf-text h3 {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inf-text p {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*=============== TEAM ===============*/

.team {
  margin-top: 70px;
}

.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.team-text h2 {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-text p {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 51px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-background-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 34px;
  background: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );

  /* Shadow  */
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  width: 250px;
  height: 297px;
  flex-shrink: 0;
}
.card-background-team h5 {
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-background-team p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.team-social-icons {
  display: flex;
  gap: 5px;
}
.team-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #46a5bc;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.team-social-icon i {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

/*=============== NEWS ===============*/

.news {
  margin-top: 100px;
  position: relative;
}
.elipse-news {
  top: 86px;
  left: 50px;
}
.news-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 295px;
  flex-shrink: 0;
  border-radius: 34px;
  background: var(
    --bg,
    linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.02) 100%
    )
  );

  /* Shadow  */
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}

.news-form h2 {
  color: #fff;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-form p {
  color: #fff;
  text-align: center;
  font-family: var(--body-font);
  font-size: 14px;
  font-style: normal;
  line-height: 15px; /* 187.5% */
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: center;
}
.subscribe-container {
  position: relative;
}
.subscribe-container button {
  position: absolute;
  top: 18px;
  right: 30px;
  border-radius: 70px;
  opacity: 0.9;
  background: var(--gardient, linear-gradient(91deg, #2563eb 0%, #d946ef 100%));
  padding: 10px 20px;
}
.subscribe-container input {
  width: 350px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 70px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
  border: none;
}
#email,
#email::placeholder {
  color: #fff;
  text-align: left;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 12px;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  transition: background 0.3s, color 0.3s;
}
.button:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}

/*=============== FOOTER ===============*/
.footer {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.footer__container {
  row-gap: 4rem;
}
.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #fff;
  font-weight: var(--font-medium);
  margin-bottom: 1.25rem;
  transition: color 0.3s;
}
.footer__logo img {
  width: 20px;
}
.footer__logo:hover {
  color: var(--violet);
}
/*--------------------------------------------------------------------*/

.footer-line1 {
  display: flex;
  flex-direction: column;
}
.icon-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.footer-social-icons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.footer-social-icons i {
  border-radius: 50px;
  border: solid rgb(209 208 208 / 57%) 1px;
  padding: 5px;
  color: #fff;
}
.footer-social-icons i:hover {
  color: var(--violet);
  transition: all 0.5s ease-out;
}

.footer-line2 {
  display: flex;
  gap: 80px;
}
.line2-left,
.line2-right {
  display: flex;
  flex-direction: column;
}
.line2-left a,
.line2-right a {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 222.222% */
  letter-spacing: 0.18px;
}
.line2-left a:hover,
.line2-right a:hover {
  color: var(--violet);
  font-weight: 700;
  transition: all 0.5s ease-out;
}

.copyright {
  margin-top: 20px;
  padding: 30px 0;
  border-top: 1px solid #96969663;
}
.cr-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
.copyright-right {
  display: flex;
  gap: 28px;
}
.copyright-right a {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
/*----------------------------------------------------------------*/
.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4.5rem;
}
.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}
.footer__links {
  row-gap: 0.75rem;
}
.footer__link {
  color: var(--text-color);
  font-size: var(--small-font-size);
  transition: color 0.3s;
}
.footer__link:hover {
  color: var(--first-color);
  transition: all 0.3s ease-out;
}
.footer__social {
  display: flex;
  column-gap: 1.25rem;
}
.footer__social-link {
  color: var(--first-color);
  font-size: 1.25rem;
  transition: color 0.3s, transform 0.3s;
}
.footer__social-link:hover {
  color: var(--first-color-alt);
  transform: translateY(-0.25rem);
}

.footer__tree-1,
.footer__tree-2 {
  width: 250px;
  position: absolute;
  z-index: -1;
}
.footer__tree-1 {
  top: -1rem;
  right: -1.5rem;
}
.footer__tree-2 {
  left: -1.5rem;
  bottom: -3.5rem;
}
.footer__copy {
  position: relative;
  display: block;
  margin-top: 8rem;
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
}
.footer .shape__small {
  right: -7rem;
  top: 15rem;
}
.footer .shape__big {
  left: -8rem;
  bottom: -5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 10%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 15%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(22, 8%, 20%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  color: var(--violet);
  font-size: 1.1rem;
  background-color: #1118278a;
  box-shadow: 0 4px 8px hsla(22, 10%, 2%, 0.6);
  padding: 0.45rem;
  border-radius: 0.35rem;
  display: inline-flex;
  z-index: var(--z-tooltip);
  transition: bottom 0.3s, transform 0.3s;
}
.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

@media screen and (min-width: 767px) {
  .container {
    max-width: 1224px;
    margin-inline: 1.5rem;
    margin: 0 auto;
  }
  /* section {
    width: 1224px;
  } */

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle,
  .nav__close,
  .nav__img {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .home {
    margin-top: 0px;
  }
  .home-container {
    flex-direction: row;
  }

  .header-btn {
    width: 132px;
    padding: 12px 24px;
    font-size: 14px;
  }

  .home-btn {
    display: flex;
    width: 132px;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background: var(
      --gardient,
      linear-gradient(0deg, #2563eb 0%, #d946ef 100%)
    );
    color: #f9fafb;
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing: 0.6px;
    font-weight: bold;
    border: none;
  }
  .home-btn:hover {
    background: var(
      --gardient,
      linear-gradient(0deg, #d946ef 0%, #2563eb 100%)
    );
  }
  .left-home-container h1 {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
    font-family: 'Anonymous Pro', monospace;
    font-size: 92px;
    line-height: 90px;
    letter-spacing: 1.16px;
  }
  .left-home-container p {
    margin-top: 29px;

    color: #e5e7eb;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
    font-family: var(--body-font);
    font-size: 36px;
    line-height: 40px; /* 200% */
    margin-bottom: 20px;
  }

  .watch-video-btn {
    padding: 12px;
    font-size: 14px;
  }

  /*Services*/

  .elipse-serv-1 {
    display: block;
  }
  .elipse-serv-3 {
    top: 600px;
    display: block;
  }

  /*Information*/

  .left-content {
    flex-direction: row;
    margin-top: 80px;
  }
  .right-content {
    flex-direction: row-reverse;
  }
  .inf-item {
    flex: 1;
    width: 50%;
  }
  /* News*/
  .news-wrapper {
    width: 780px;
    height: 295px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .elipse-news {
    left: 50%;
  }

  .news-form h2 {
    font-size: 42px;
  }

  .news-form h2 {
    font-size: 32px;
  }
  .subscribe-container input {
    width: 680px;
  }
  .subscribe-container button {
    padding: 15px 40px;
  }
  #email,
  #email::placeholder {
    color: #fff;
    text-align: left;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-left: 30px;
  }

  .cr-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
  }
  .footer-line2 {
    display: flex;
    gap: 30px;
  }

  .elipse-inf1 {
    top: 208px;
    left: 250px;
  }
  .elipse-inf2 {
    top: 850px;
    right: 320px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__title-img-1,
  .home__title-img-2 {
    width: 60px;
  }
  .home__title-img-2 {
    bottom: 5.75rem;
  }
  .home__description {
    padding: 0 7.5rem;
  }
  .home__tree-1,
  .home__tree-2 {
    width: 300px;
    top: 14rem;
  }

  .footer__logo {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }
  .footer__content {
    column-gap: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .footer__link {
    font-size: var(--normal-font-size);
  }
  .footer__social {
    column-gap: 1.5rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .footer__copy {
    margin: 10rem 0 4rem;
  }
  .footer__tree-1,
  .footer__tree-2 {
    display: none;
  }
  .footer__tree-1 {
    top: initial;
    bottom: 1.5rem;
    right: -2rem;
  }
  .footer__tree-2 {
    bottom: 1.5rem;
  }
  .footer .shape__big {
    bottom: -16rem;
  }

  .scrollup {
    right: 3rem;
  }
}

@media screen and (min-width: 1248px) {
  /* .container {
    margin-inline: auto;
  }
  .home__tree-1,
  .home__tree-2 {
    width: 450px;
  }
  .home__img {
    width: 600px;
    margin-top: 3rem;
  }
  .footer__tree-2 {
    left: 10%;
  } */
}
